
/* Global Variables */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}


.title {
    padding: .25em;   
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 10em;
    font-size: 20px;
} 



h2 {
    font-size: 500px;
}

.columns {
    padding-top: 2em;
}

.card-box {
    height: 500px;
}


@media screen and (max-width: 1020px) {

    .hero {
        display: flex;
        
    }
    }

@media screen and (max-width: 627px) {

        .hero {
            display: flex;
            align-items: flex-start;
        }
        .navbar-item {
            display: flex;
            justify-content: space-between;
        }
        }

@media screen and (max-width: 627px) {

        .hero {
            display: flex;
            align-items: flex-start;
        }
        .navbar-item {
            display: flex;
            justify-content: space-between;
        }
        }