.navbar-item{
    border: 5px solid black;
    margin: 5px
    };
    
    h2 {
        font-size: 500px;
    }

    .navbar-item{
        border: 5px solid black;
        margin: 5px
        };
        
        h2 {
            font-size: 500px;
        }

        .navbar-item{
            border: 5px solid black;
            margin: 5px
            };
            
            h2 {
                font-size: 500px;
            }
            .navbar-item{
                border: 5px solid black;
                margin: 5px
                };
                
                h2 {
                    font-size: 500px;
                }.navbar-item{
                    border: 5px solid black;
                    margin: 5px
                    };
                    
                    h2 {
                        font-size: 500px;
                    }
                    